@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
}

.App {
    font: 1rem 'Roboto', sans-serif;
}

.App_heading {
    margin: 1em 0.5em;
    text-align: center;
}